[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
nbconvert = "*"
jupyter = "*"
flask = "*"
pandoc = "*"
ipython = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
